.flex {
    display: flex;
    width:100%;
    flex-wrap:wrap;

    @include tablet{
        flex-wrap:no-wrap;
    }

    &.align-center {
        align-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}