:root {
    font-size: 62.5%;
}

body,
.body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

p,
.apt-p {
    line-height: 1.7em;
}

a,
.apt-a {
    color: inherit;
    cursor: pointer;
    transition-duration: .3s;

    @include states {
        opacity: .5;
    }
}

.apt-container {
    display: block;
    width: 100%;
    @include gutter;
}